<div class="banner center jumbotron">
    <h1>Welcome to the TaskTracker App</h1>
    <h4>
        Here we provide services of a fully grown task management system
    </h4>
    <br>
    <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary" %>
</div>

