
<div class="profile">
  <div class="card">
  <i class="fa fa-user" style="font-size:72px"></i>
  <h1><%= @user.name %></h1>
  <p class="title"><%= @user.role.capitalize %></p>
  <p>Kreeti Technologies</p>
  <p><i class="fa fa-envelope"></i> <span><%= @user.email %></span>
  <p><button>Contact</button></p>
  </div>
</div>
