

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.banner {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
  background-color: $gray-medium-light;
  padding: 60px;
}